.contact {
  margin: 0 auto;
  padding: 2rem;
  color: #000000;
  width: 100%;
  max-width: 1200px;
}

.contact .container {
  padding: 1rem;
  max-width: 100%;
}

.contact .container .form {
  width: 100%;
  max-width: 600px;
  background: #dee1dd;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.contact .container .form h2 {
  color: #61764B;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.contact .container .form .box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.contact .container .form .box .label h4 {
  color: #4A4A4A;
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.contact .container .form .box .input input,
.contact .container .form .box .input textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  font-size: 0.875rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.contact .container .form .box .input input:focus,
.contact .container .form .box .input textarea:focus {
  border-color: #B2AC88;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact .container .form button {
  padding: 0.8rem 1.5rem;
  background-color: #A1AA9B;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-top: 1rem;
  align-self: flex-start;
}

.contact .container .form button:hover {
  background-color: #889480;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact .container .form .success {
  color: #61b25a;
  margin-top: 1rem;
}

.contact .container .form .error {
  color: #61764B;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .contact-form {
    width: 100%;
  }

  .contact {
    padding-top: 60px;
  }

  .contact .container .form {
    padding: 1rem;
  }

  .contact .container .form .box .input input,
  .contact .container .form .box .input textarea {
    padding: 0.5rem;
  }

  .contact .container .form button {
    width: 100%;
    text-align: center;
  }
}
