html, body {
    height: 100%;
    margin: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 15px 30px;
    background-color: #dee1dd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 40px;
    width: 100%;
    margin: 0;
    border-top: 1px solid #EAEAEA;
}

.footer .icones {
    display: flex;
    gap: 10px;
}

.footer a {
    display: flex;
    color: #A1AA9B;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #9FA480;
}

.footer p {
    margin: 0;
    color: #A1AA9B;
    font-size: 0.9rem;
    display: flex;
    gap: 10px;
}

.footer p span {
    margin: 0 5px;
}

@media (max-width: 768px) {
    .footer {
        display: none;
    }
}
