.footer.sticky-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 15px 30px; 
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
    margin-top: 40px;
    width: 100%; 
}
.footer .icones {
    display: flex;
    gap: 10px; 
}

.footer a {
    display: flex;
}

.footer p {
    margin: 0;
    color: black;
}

