.panier {
  margin: 0 auto;
  padding: 2rem;
  color: #000000;
  width: 100%;
  max-width: 1200px;
  background: #dee1dd;
}

.liste-produits {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.produit-panier {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.produit-panier img {
  width: 100%;
  max-width: 120px;
  height: auto;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 8px;
  background-color: #F2E9E4;
}

.details-produit {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.details-produit h3 {
  margin: 0 0 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
}

.details-produit p {
  margin: 0;
  font-size: 0.875rem;
  color: #4A4A4A;
}

.quantite {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}

.quantite button {
  padding: 0.5rem 1rem;
  background-color: #A1AA9B;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin: 0 0.5rem;
}

.quantite button:hover {
  background-color: #889480;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quantite span {
  margin: 0 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
}

.qte-bin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  border-top: 2px solid #A1AA9B;
  padding-top: 1rem;
}

.total h3, .total p {
  margin: 0;
  font-size: 1rem;
  color: #000000;
}

.passer-commande {
  padding: 0.8rem 1.5rem;
  background-color: #A1AA9B;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s, box-shadow 0.3s;
  align-self: center;
}

.passer-commande:hover {
  background-color: #889480;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .panier {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
  }

  .liste-produits {
    grid-column: 1;
  }

  .total {
    grid-column: 2;
  }
}

@media (max-width: 768px) {
  .panier {
    padding-top: 60px;
  }

  .produit-panier {
    flex-direction: column;
    align-items: flex-start;
  }

  .produit-panier img {
    margin-bottom: 1rem;
  }

  .quantite {
    margin: 0.5rem 0;
  }

  .details-produit {
    width: 100%;
  }

  .passer-commande {
    margin-top: 20px;
  }
}