@font-face {
  font-family: 'Montserrat';
  src: url('../public/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'HomemadeApple';
  src: url('../public/assets/fonts/HomemadeApple-Regular.ttf') format('truetype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #727E66;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #727E66;
  text-align: center;
  font-weight: bold;  
  font-size: 1.5rem;
  padding : 10px;
}

div, p {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  text-align: center;  
  font-size: 1.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F6F4F1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #232521;
}

.App-link {
  color: #B2AC88;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #927e0e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 30px;
  background-color: #dee1dd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
  width: 100%;
  margin: 0;
  border-top: 1px solid #EAEAEA;
}

.footer .icones {
  display: flex;
  gap: 10px;
}

.footer a {
  display: flex;
  color: #A1AA9B;
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: #000000;
}

.footer p {
  margin: 0;
  color: #A1AA9B;
  font-size: 0.9rem;
  display: flex;
  gap: 10px;
}

.footer p span {
  margin: 0 5px;
}
